@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@mixin text($font-size, $weight, $color) {
    font-size: $font-size;
    font-weight: $weight;
    color: $color;
}

@mixin btn(){
    background-color: #FFB742;
    padding: 12px 26px;
    color: #212529;
    text-decoration: none;
    border-radius: 50px;
    @include text(18px, 700, #212529);
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background: #212529;
    padding: 20px 50px;

    header {
        .bar {
            font-family: 'Poppins', sans-serif;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                width: 90px;
                height: 65px;
            }

            nav {
                ul {
                    display: flex;
                    list-style: none;

                    li {
                        margin-right: 25px;

                        a {
                            text-decoration: none;
                            @include text(18px, 600, #fff);
                        }

                        .active {
                            color: #FFB742;
                        }
                    }

                    .li:last-child {
                        margin: 0;
                    }
                }
            }

            .btn {
                @include btn();
            }
        }

        .welcome {
            margin: 0 auto;

            .welcome-text {
                text-align: center;
                margin-top: 100px;

                h2 {
                    @include text(32px, 700, #fff);

                    u {
                        color: #FFB742;
                    }
                }

                h1 {
                    margin-top: 10px;
                    @include text(48px, 700, #fff);
                }

                p {
                    margin-top: 25px;
                    @include text(24px, 400, #fff);
                }
            }

            .welcome-ava {
                margin-top: 20px;

                img {
                    display: block;
                    margin: 0 auto;
                }
            }
        }

        .cards {
            display: flex;
            justify-content: center;
            margin-top: 130px;
          
            .cards-card {
                display: flex;
                align-items: center;
                width: auto;
                background-color: rgba(56, 62, 69, 0.44);
                padding: 30px;
                border-radius: 10px;
                margin-right: 25px;            

                .card-icon {
                    width: 64px;
                    height: 64px;
                }

                .card-text {
                    margin-left: 65px;

                    .number {
                        text-align: center;
                        @include text(32px, 700, #FFB742);
                    }

                    p {
                        @include text(16px, 700, #fff);
                    }
                }

                .card-arrow {
                    margin-left: 65px;
                }
            }
            .shadow {
                box-shadow: 10px 10px 51px 0px rgba(0, 0, 0, 0.25);
            }
        }
    }
    .about_me {
        display: flex;
        .about_me-photo {
            width: 620px;
			height: 596.07px;
        }
        .about_me-text {
            h3 {
                @include text(20px, 600, #FFB742);
                margin-top: 252.4px;
            }
            h2 {
                font-family: 'Roboto', sans-serif;
                @include text(48px, 700, #fff);
								margin-top: 16.27px;
            }
            p {
                @include text(16px, 400, #D4D4D4);
								margin-top: 29.49px;
            }
        }
    }
}