@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@mixin text($font-size, $weight, $color) {
    font-size: $font-size;
    font-weight: $weight;
    color: $color;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background: #212529;
    padding: 20px 50px;
    header {  
        .bar {
            font-family: 'Poppins', sans-serif;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo {
                width: 90px;
                height: 65px;
            }

            nav {
                ul {
                    display: flex;
                    list-style: none;
                    li {
                        margin-right: 25px;
                        a {
                            text-decoration: none;
                            @include text(18px, 600, #fff);
                        }
                        .active {
                            color: #FFB742;
                        }
                    }
                    .li:last-child {
                        margin: 0;
                    }
                }
            }

            .btn {
                background-color: #FFB742;
                padding: 12px 26px;
                color: #212529;
                text-decoration: none;
                border-radius: 50px;
                @include text(18px, 700, #212529);
                
            }
        }
    }
}