@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background: #212529;
  padding: 20px 50px;
}

body header .bar {
  font-family: 'Poppins', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .bar .logo {
  width: 90px;
  height: 65px;
}

body header .bar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

body header .bar nav ul li {
  margin-right: 25px;
}

body header .bar nav ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

body header .bar nav ul li .active {
  color: #FFB742;
}

body header .bar nav ul .li:last-child {
  margin: 0;
}

body header .bar .btn {
  background-color: #FFB742;
  padding: 12px 26px;
  color: #212529;
  text-decoration: none;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 700;
  color: #212529;
}

body header .welcome {
  margin: 0 auto;
}

body header .welcome .welcome-text {
  text-align: center;
  margin-top: 100px;
}

body header .welcome .welcome-text h2 {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}

body header .welcome .welcome-text h2 u {
  color: #FFB742;
}

body header .welcome .welcome-text h1 {
  margin-top: 10px;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}

body header .welcome .welcome-text p {
  margin-top: 25px;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}

body header .welcome .welcome-ava {
  margin-top: 20px;
}

body header .welcome .welcome-ava img {
  display: block;
  margin: 0 auto;
}

body header .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 130px;
}

body header .cards .cards-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  background-color: rgba(56, 62, 69, 0.44);
  padding: 30px;
  border-radius: 10px;
  margin-right: 25px;
}

body header .cards .cards-card .card-icon {
  width: 64px;
  height: 64px;
}

body header .cards .cards-card .card-text {
  margin-left: 65px;
}

body header .cards .cards-card .card-text .number {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: #FFB742;
}

body header .cards .cards-card .card-text p {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

body header .cards .cards-card .card-arrow {
  margin-left: 65px;
}

body header .cards .shadow {
  -webkit-box-shadow: 10px 10px 51px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 51px 0px rgba(0, 0, 0, 0.25);
}

body .about_me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 135px;
}

body .about_me .about_me-photo {
  width: 620px;
  height: 596.07px;
}

body .about_me .about_me-text {
  margin-left: 50px;
}

body .about_me .about_me-text h3 {
  font-size: 20px;
  font-weight: 600;
  color: #FFB742;
  padding: 6px 25px;
  background-color: rgba(56, 62, 69, 0.44);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50px;
}

body .about_me .about_me-text h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  margin-top: 16.27px;
}

body .about_me .about_me-text p {
  font-size: 16px;
  font-weight: 400;
  color: #D4D4D4;
  margin-top: 29.49px;
  margin-bottom: 54.45px;
  max-width: 672px;
}

body .about_me .about_me-text .btn {
  background-color: #FFB742;
  padding: 12px 26px;
  color: #212529;
  text-decoration: none;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 700;
  color: #212529;
}

body .skills .skills-text h3 {
  font-size: 20px;
  font-weight: 600;
  color: #FFB742;
  padding: 6px 25px;
  background-color: rgba(56, 62, 69, 0.44);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50px;
}

body .skills .skills-text h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  margin-top: 16.27px;
}

body .skills .skills-text p {
  font-size: 16px;
  font-weight: 400;
  color: #D4D4D4;
  margin-top: 29.49px;
  margin-bottom: 54.45px;
  max-width: 672px;
}
/*# sourceMappingURL=style.css.map */