@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background: #212529;
}

body header .container {
  width: 1440px;
  margin: 0 auto;
}

body header .container .bar {
  font-family: 'Poppins', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .container .bar .logo {
  width: 90px;
  height: 65px;
}

body header .container .bar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

body header .container .bar nav ul li {
  margin-right: 25px;
}

body header .container .bar nav ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

body header .container .bar nav ul li .active {
  color: #FFB742;
}

body header .container .bar nav ul .li:last-child {
  margin: 0;
}

body header .container .bar .btn {
  background-color: #FFB742;
  padding: 12px 26px;
  color: #212529;
  text-decoration: none;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 700;
  color: #212529;
}

body header .container .welcome {
  margin: 0 auto;
}

body header .container .welcome .welcome-text {
  text-align: center;
  margin-top: 100px;
}

body header .container .welcome .welcome-text h2 {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}

body header .container .welcome .welcome-text h2 u {
  color: #FFB742;
}

body header .container .welcome .welcome-text h1 {
  margin-top: 10px;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}

body header .container .welcome .welcome-text p {
  margin-top: 25px;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}

body header .container .welcome .welcome-ava {
  margin-top: 20px;
}

body header .container .welcome .welcome-ava img {
  display: block;
  margin: 0 auto;
}

body header .container .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 130px;
}

body header .container .cards .cards-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  background-color: rgba(56, 62, 69, 0.44);
  padding: 30px;
  border-radius: 10px;
  margin-right: 25px;
}

body header .container .cards .cards-card .card-icon {
  width: 64px;
  height: 64px;
}

body header .container .cards .cards-card .card-text {
  margin-left: 65px;
}

body header .container .cards .cards-card .card-text .number {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: #FFB742;
}

body header .container .cards .cards-card .card-text p {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

body header .container .cards .cards-card .card-arrow {
  margin-left: 65px;
}

body header .container .cards .shadow {
  -webkit-box-shadow: 10px 10px 51px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 51px 0px rgba(0, 0, 0, 0.25);
}

body .about-me-section {
  margin-top: 135px;
}

body .about-me-section .container {
  width: 1440px;
  margin: 0 auto;
}

body .about-me-section .container .about_me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .about-me-section .container .about_me .about_me-photo {
  width: 620px;
  height: 596.07px;
}

body .about-me-section .container .about_me .about_me-text {
  margin-left: 50px;
}

body .about-me-section .container .about_me .about_me-text h3 {
  font-size: 20px;
  font-weight: 600;
  color: #FFB742;
  padding: 6px 25px;
  background-color: rgba(56, 62, 69, 0.44);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50px;
}

body .about-me-section .container .about_me .about_me-text h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  margin-top: 16.27px;
}

body .about-me-section .container .about_me .about_me-text p {
  font-size: 16px;
  font-weight: 400;
  color: #D4D4D4;
  margin-top: 29.49px;
  margin-bottom: 54.45px;
  max-width: 672px;
}

body .about-me-section .container .about_me .about_me-text .btn {
  background-color: #FFB742;
  padding: 12px 26px;
  color: #212529;
  text-decoration: none;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 700;
  color: #212529;
}

body .skills-section {
  margin-top: 142.93px;
}

body .skills-section .container {
  width: 1440px;
  margin: 0 auto;
}

body .skills-section .container .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .skills-section .container .skills .skills-text h3 {
  font-size: 20px;
  font-weight: 600;
  color: #FFB742;
  padding: 6px 25px;
  background-color: rgba(56, 62, 69, 0.44);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50px;
}

body .skills-section .container .skills .skills-text h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  margin-top: 16.27px;
  max-width: 520px;
}

body .skills-section .container .skills .skills-text p {
  font-size: 16px;
  font-weight: 400;
  color: #D4D4D4;
  margin-top: 29.49px;
  margin-bottom: 66.45px;
  max-width: 650px;
}

body .skills-section .container .skills .skills-text .btn {
  background-color: #FFB742;
  padding: 12px 26px;
  color: #212529;
  text-decoration: none;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 700;
  color: #212529;
}

body .skills-section .container .skills .skills-icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px 80px 80px 80px 80px 80px;
      grid-template-columns: 80px 80px 80px 80px 80px 80px;
  -webkit-column-gap: 16px;
          column-gap: 16px;
  row-gap: 16px;
}

body .skills-section .container .skills .skills-icons .skills-icons-icon {
  background-color: #383e45;
  padding: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
}

body .skills-section .container .skills .skills-icons .figma {
  padding: 16px 24px;
}

body .skills-section .container .skills .skills-icons .sass {
  padding: 22px 16px;
}

body .works-section {
  margin-top: 140px;
}

body .works-section .container {
  width: 1440px;
  margin: 0 auto;
}

body .works-section .container .works {
  text-align: center;
}

body .works-section .container .works .works-text h3 {
  font-size: 20px;
  font-weight: 600;
  color: #FFB742;
  padding: 6px 25px;
  background-color: rgba(56, 62, 69, 0.44);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50px;
  display: block;
  margin: 0 auto;
}

body .works-section .container .works .works-text h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  margin-top: 16.27px;
}

body .works-section .container .works nav {
  margin-top: 30px;
}

body .works-section .container .works nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .works-section .container .works nav ul li {
  list-style-type: none;
  row-gap: 25px;
}

body .works-section .container .works nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

body .works-section .container .works nav ul li .active {
  background-color: #FFB742;
  color: #212529;
  padding: 5px 20px;
  border-radius: 3px;
}

body .works-section .container .works .works-cards {
  margin-top: 50px;
  -webkit-column-count: 3;
          column-count: 3;
}

body .works-section .container .works .works-cards .works-cards-card {
  width: 100%;
  margin-bottom: 30px;
}

body .works-section .container .works .works-cards .works-cards-card:nth-child(2n) {
  margin: 0;
}

body .customer-section {
  margin-top: 140px;
}

body .customer-section .container {
  width: 1440px;
  margin: 0 auto;
}

body .customer-section .container .customer .customer-text {
  display: block;
  text-align: center;
}

body .customer-section .container .customer .customer-text h3 {
  font-size: 20px;
  font-weight: 600;
  color: #FFB742;
  padding: 6px 25px;
  background-color: rgba(56, 62, 69, 0.44);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50px;
  margin: 0 auto;
}

body .customer-section .container .customer .customer-text h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  max-width: 520px;
  margin: 0 auto;
  margin-top: 7px;
}

body .customer-section .container .customer .customer-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 88px;
}

body .customer-section .container .customer .customer-cards .customers-cards-card {
  background-color: white;
  width: 378.91px;
  border-radius: 7.9px;
  margin-right: 40px;
}

body .customer-section .container .customer .customer-cards .customers-cards-card .customers-cards-card-wrapper {
  padding: 50px 52px 48px 33px;
}

body .customer-section .container .customer .customer-cards .customers-cards-card .customers-cards-card-wrapper .customers-cards-card-wrapper-stars img {
  margin-right: 9px;
}

body .customer-section .container .customer .customer-cards .customers-cards-card .customers-cards-card-wrapper .customers-cards-card-wrapper-stars .last {
  margin: 0;
}

body .customer-section .container .customer .customer-cards .customers-cards-card .customers-cards-card-wrapper .customers-cards-card-wrapper-text {
  margin-top: 21px;
}

body .customer-section .container .customer .customer-cards .customers-cards-card .customers-cards-card-wrapper .customers-cards-card-wrapper-text p {
  max-width: 295px;
  max-height: 204px;
  font-size: 20px;
}

body .customer-section .container .customer .customer-cards .customers-cards-card .customers-cards-card-wrapper .customers-cards-card-wrapper-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 36px;
}

body .customer-section .container .customer .customer-cards .customers-cards-card .customers-cards-card-wrapper .customers-cards-card-wrapper-person .customers-cards-card-wrapper-person-text {
  font-family: 'Poppins', sans-serif;
  margin-left: 24px;
}

body .customer-section .container .customer .customer-cards .customers-cards-card .customers-cards-card-wrapper .customers-cards-card-wrapper-person .customers-cards-card-wrapper-person-text h3 {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}

body .customer-section .container .customer .customer-cards .customers-cards-card .customers-cards-card-wrapper .customers-cards-card-wrapper-person .customers-cards-card-wrapper-person-text h4 {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

body .customer-section .container .customer .customer-cards .customers-cards-card:last-child {
  margin: 0;
}

body .project-section {
  margin-top: 115px;
}

body .project-section .container {
  width: 1440px;
  margin: 0 auto;
}

body .project-section .container .project {
  background-color: #FFB742;
  width: 1116px;
  height: 174px;
  border-radius: 15px;
  margin: auto;
}

body .project-section .container .project .project-text h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 35px;
  font-weight: 900;
  line-height: 53px;
  position: absolute;
  margin-top: 57px;
  margin-left: 94px;
}

body .project-section .container .project .project-text1 p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  width: 359px;
  position: absolute;
  margin-left: 417px;
  margin-top: 57px;
  text-align: center;
}

body .project-section .container .project .project-text-text a {
  border: 2px #000000 solid;
  border-radius: 50px;
  padding: 12px 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #212529;
  line-height: 30px;
  position: absolute;
  margin-left: 845px;
  margin-top: 60px;
  text-decoration: none;
}

body footer {
  margin-top: -87px;
  background: #1c1c1c;
}

body footer .container {
  width: 1440px;
  margin: 0 auto;
}

body footer .container .links {
  height: 470;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body footer .container .links .links-name h2 {
  font-size: 32px;
  font-weight: 700;
  color: #FFB742;
  font-family: 'Poppins', sans-serif;
}

body footer .container .links .links-name p {
  font-size: 16px;
  font-weight: 600;
  color: #d4d4d4;
  font-family: 'Work Sans', sans-serif;
  width: 253px;
}

body footer .container .links .links-usefull h3 {
  font-size: 22px;
  font-weight: 700;
  color: #F5fbf2;
  font-family: 'Work Sans', sans-serif;
}

body footer .container .links .links-usefull ul {
  font-size: 18px;
  font-weight: 500;
  color: #7B7B7B;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
}

body footer .container .links .links-social h3 {
  font-size: 22px;
  font-weight: 700;
  color: #F5fbf2;
  font-family: 'Work Sans', sans-serif;
}

body footer .container .links .links-social ul {
  font-size: 18px;
  font-weight: 500;
  color: #7B7B7B;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
}

body footer .container .links .links-news h3 {
  font-size: 22px;
  font-weight: 700;
  color: #F5fbf2;
  font-family: 'Work Sans', sans-serif;
}

body footer .container .links .links-news p {
  font-size: 18px;
  font-weight: 500;
  color: #7B7B7B;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  width: 319px;
}
/*# sourceMappingURL=style.css.map */